.nft-container {
  width: 300px;
  text-align: center;
  margin-top: 32px;
  border: 1px solid var(--white-color);
  padding: 24px;
  display: inline-block;
  margin-right: 24px;
}

.nft-image {
  width: 300px;
}

.nft-title {
  padding-top: 12px;
  color: var(--green-2);
}

.nft-on-sale {
  margin-top: 16px;
  color: var(--white-color);
}

.nft-not-on-sale {
  margin-top: 16px;
  color: red;
}
