body {
  margin: 0px;

  font-family: "Verdana", sans-serif;

  --light-dark: #010101;
  --light-grey: #f8f8f8;
  --dark-grey: #dfdfdf;
  --primary: #0bda51;
  --secondary: #ff5733;

  background-color: var(--light-grey);
}

.button {
  text-decoration: none;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 12px;
  color: white;
}

.button-primary {
  background-color: var(--primary);
  color: var(light-dark);
}

.button-secondary {
  background-color: var(--secondary);
}

.button-secondary:hover {
  box-shadow: rgb(0 0 0 / 16%) 0px 4px 15px;
}

.action-list-marketplace {
  display: block;
  position: relative;
}

.action-list-marketplace input {
  line-height: 37px;
  position: absolute;
  top: 1px;
  margin-left: 4px;
}
