@font-face {
  font-family: "Minecraft";
  src: URL("../public/Minecraft.ttf") format("truetype");
}

body {
  margin: 16px;
  font-family: "Minecraft", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black-color: #000;
  --white-color: #fff;
  --green-1: #91da73;
  --green-2: #5ca43c;
  --green-3: #4d763d;
  --green-4: #253c1b;

  background-color: var(--black-color);
}
