.title {
  color: var(--green-2);
  font-size: 48px;
}

.subtitle {
  color: var(--white-color);
  font-size: 24px;
}

.button {
  text-decoration: none;
  background-color: var(--green-2);
  color: var(--white-color);
  font-family: "Minecraft", sans-serif;
  padding: 10px;
}

#button-metamask {
  position: absolute;
  top: 32px;
  right: 16px;
}

.mint-form-container {
  color: var(--white-color);
  padding-top: 32px;
}

.mint-form {
  padding-top: 12px;
}
.mint-form label {
  padding-right: 6px;
}
.mint-form input {
  width: 370px;
}

.nft-container {
  width: 300px;
  text-align: center;
  margin-top: 32px;
  border: 1px solid var(--white-color);
  padding: 24px;
  display: inline-block;
  margin-right: 24px;
}

.nft-image {
  width: 300px;
}

.nft-title {
  padding-top: 12px;
  color: var(--green-2);
}
